<?xml version="1.0" encoding="UTF-8"?>

<!--
The log file is written to `logs/crypto.log` and uses a rolling policy.
It will create up to 7 archives on the same day (1-7) that are stored in a directory based on the current year and month,
and will compress each archive using gzip.
Once a file reaches 100 MB or a new day is started, it is archived, and a new log file is created.
Only the last 90 archives are kept.
The logging level is set to 'info'.

See log4j2 guide for more options: http://logging.apache.org/log4j/2.x/manual/appenders.html#RollingRandomAccessFileAppender
-->
<Configuration status="warn" name="BX-bot" packages="">
    <Appenders>
        <RollingFile name="crypto_RollingFile" fileName="./logs/crypto.log"
                     filePattern="logs/$${date:yyyy-MM}/crypto-%d{MM-dd-yyyy}-%i.log.gz">
       